<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abc.mirroring">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="Settings.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.vending.BILLING" /> <!-- Declare features -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <permission
        android:name="android.permission.CONFIGURE_WIFI_DISPLAY"
        android:protectionLevel="normal"
        tools:ignore="ReservedSystemPermission" />
    <permission
        android:name="android.permission.CONTROL_WIFI_DISPLAY"
        android:protectionLevel="normal"
        tools:ignore="ReservedSystemPermission" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="Manifest.permission.POST_NOTIFICATIONS" />

    <!-- Required only if your app needs to access images or photos
     that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- If your app doesn't need to access media files that other apps created,
         set the "maxSdkVersion" attribute to "28" instead. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.abc.mirroring.Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sreenmirroringcasttv.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ui.premium.SubscriptionsActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.premium.PremiumActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.premium.PremiumActivity2"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.XMas.NoActionBar">
        </activity>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.abc.mirroring.ui.settings.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Sreenmirroringcasttv.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.abc.mirroring.ui.devicemirror.DeviceMirrorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cast.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.abc.mirroring.ui.tutorial.TutorialActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Sreenmirroringcasttv.NoActionBar" />
        <activity
            android:name="com.abc.mirroring.ui.browsermirror.BrowserMirrorActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.abc.mirroring.ui.selectLanguage.SelectLanguageActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.abc.mirroring.ui.feedback.FeedbackActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.abc.mirroring.ui.browsermirror.CloseAppActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.abc.mirroring.ui.policy.PolicyActivity"
            android:launchMode="singleTop"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.abc.mirroring.service.FloatToolService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.abc.mirroring.service.CameraPreviewService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.abc.mirroring.ui.home.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sreenmirroringcasttv.NoActionBar" />

        <service
            android:name="com.abc.mirroring.service.AppService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />
        <service
            android:name="com.abc.mirroring.service.FirebaseMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.abc.mirroring.service.NotificationService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_app_id" />

        <!--    <cast section>-->
        <!-- https://developer.android.com/topic/libraries/app-startup#kotlin -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- This entry makes Initializer discoverable. -->
            <meta-data
                android:name="com.abc.mirroring.cast.setup.startup.FirebaseOS"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.abc.mirroring.cast.setup.startup.AdCenterOS"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.abc.mirroring.cast.setup.startup.HakiOS"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.abc.mirroring.cast.setup.startup.FCMOS"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.abc.mirroring.cast.setup.startup.TimberOS"
                android:value="androidx.startup" />
        </provider>
        <!-- https://developer.android.com/topic/libraries/app-startup#kotlin -->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.abc.mirroring.cast.shared.cast.chromecast.CastOptionsProvider" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="0GFzWuEbATOdwK224DCCGi52bXKBtzTA8oLqVxGzAQ5Zu6DEGpFz9Ueva1IGuQUeaTNRi0PdIun5JtTfdbOmUw" />


        <!--FCM Part-->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_app" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="" />
<!--    </cast section>-->
    </application>

</manifest>